html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  background-color: #13001b;
}

#containerStars {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}

#containerMessier {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}



#background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
